html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
//   font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --box-height: 50vh;
  --ghost-height: 50vh;
  --box-width: 100vw;
  --box-aspect-ratio: 1;
}

$max: 766px;
$primary: #fafafa;
$orange: #f7941f;
@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700,900);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,600,700);

body {
//   background: rgb(35, 36, 37);
background: #617fbf;
//   display: flex;
//   flex-direction: column;
//   gap: 2rem;
}

.os__wrapper {
  display: block;
}

header {
  padding: 45vh 1rem;
}

.title {
  color: white;
  font-family: sans-serif;
  font-weight: bolder;
//   text-transform: uppercase;
  text-align: center;
  font-size: 3rem;
}
.bounce {
  padding: 1rem;
  display: block;
  animation-name: bounce;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.os__text-container {
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  padding: 0 1rem;
  display: block;
  flex-direction: column;
  gap: 0.5rem;
}

.os__text-item {
  color: hotpink;
  font-size: 2rem;
//   text-transform: uppercase;
//   font-family: sans-serif;
font-family: 'Montserrat';
  font-weight: 600;
  display: inline-block;
  opacity: 0.2;
//   .image {
//     width: 320px;
//     height: 600px;
//     img{
//         width: 100%;
//         height: 100%;
//         object-fit: contain;
//     }
//   }
}
.os__text-item--on {
  opacity: 1;
}

.os__ghost {
  height: var(--ghost-height);
}

.last {
  padding-top: 400vh;
}


.kejutan{
    .d-block {
        margin: 0 auto;
        text-align: center;
    }
    .side{
    &-left {
        display: inline-block;
        width: 45%;
        height: 460px;
        position: relative;
        // border: 2px solid black;
        border-radius: 16px;
        @media screen and (max-width:766px) {
        width: 100%;
        height: 320px;
        }
        .imagex {
          width: 100%;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
            border-radius: 16px;
            object-fit: cover;
          }
        }
        .image2 {
          width: 50%;
          height: 420px;
          position: absolute;
          right: 15%;
          top: initial;
          bottom: 15%;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        .image {
        width: 70%;
        height: 520px;
        position: absolute;
        left: -48px;
        z-index: 2;
        top: -48px;
        
        @media screen and (max-width:766px) {
            left: -14px;
            z-index: 9;
            top: -86px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        }
        .score {
          position: absolute;
          right: 0;
          // background: #fff;
          background: linear-gradient(to top, #001238, rgba(#001238,.1));
          border-radius: 0 0 16px 16px;
          padding: 8px;
          /* top: 20vh; */
          bottom: 0;
          font-size: 2.3rem;
          font-weight: 600;
          font-family: "Montserrat";
          left: 0;
          display: block;
          .valuex {
            position: absolute;
            bottom: 30%;
            left: 50%;
            list-style: none;
            transform: translate(-50%, -50%);
            display: block;
            li {
              display: inline-block;
              color: white;
            }
          }
          .flag {
            display: inline-block;
            color: white;
            width: 45%;
            .name {
              // width: 100px;
              font-size: 24px;
              @media screen and (max-width:766px) {
                font-size: 16px;
              }
            }
          }
          // div {
          //   // color: #BDCDEE;
          //   color: #2a5f99;
          //   margin-bottom: 8px;
          //   text-align: right;
          // }
        }
    }

    &-right {
        display: inline-block;
        width: 45%;
        margin-left: 24px;
        height: 460px;
        position: relative;
        // border: 2px solid black;
        border-radius: 16px;
        @media screen and (max-width:766px) {
        width: 100%;
        margin-left: 0;
        height: 320px;
        margin-top: 72px;
        }
        .imagex {
          width: 100%;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
            border-radius: 16px;
            object-fit: cover;
          }
        }
        .image2 {
          width: 50%;
          height: 420px;
          position: absolute;
          right: 15%;
          top: initial;
          bottom: 15%;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        .image {
        width: 70%;
        height: 520px;
        position: absolute;
        left: -48px;
        z-index: 2;
        top: -48px;
        
        @media screen and (max-width:766px) {
            left: -14px;
            z-index: 9;
            top: -86px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        }
        .score {
          position: absolute;
          right: 0;
          // background: #fff;
          background: linear-gradient(to top, #001238, rgba(#001238,.1));
          border-radius: 0 0 16px 16px;
          padding: 8px;
          /* top: 20vh; */
          bottom: 0;
          font-size: 2.3rem;
          font-weight: 600;
          font-family: "Montserrat";
          left: 0;
          display: block;
          .valuex {
            position: absolute;
            bottom: 30%;
            left: 50%;
            list-style: none;
            transform: translate(-50%, -50%);
            display: block;
            li {
              display: inline-block;
              color: white;
            }
          }
          .flag {
            display: inline-block;
            color: white;
            width: 45%;
            .name {
              // width: 100px;
              font-size: 24px;
              @media screen and (max-width:766px) {
                font-size: 16px;
              }
            }
          }
          // div {
          //   // color: #BDCDEE;
          //   color: #2a5f99;
          //   margin-bottom: 8px;
          //   text-align: right;
          // }
        }
    }
    }
}

.imagex {
  width: 420px;
  margin: 0 auto;
  display: block;
  text-align: center;
  height: 320px;
  @media screen and (max-width:766px) {
    width: auto;
    height: 320px;
  }
  img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    object-fit: cover;
  }
}

.statistik {
    margin: 0 auto;
    text-align: center;
    // position: relative;
    z-index: 20;
    h3 {
      @media screen and (max-width:766px) {
        font-size: 1.5rem;
      }
    }
    .top-skor {
      width: 35%;
      margin: 16px ;
      position: relative;
      height: 360px;
      border-radius: 16px;
      // display: block;
      display: inline-block;
      padding: 16px;
      background: #4161A6;
      .table-responsive {
        display: block;
        width: 100%;
        overflow-x: auto;
      }
      .table {
        width: 100%;
        margin-bottom: 1rem;
        color: #212529;
        &-striped {
            tbody {
                tr{
                    &:nth-of-type(odd) {
                        background: rgba(0,0,0,.05);
                    }
                    td {
                        border-top: 1px solid transparent;
                        color: #fff;
                        padding: 0.75rem;
                        font-size: 14px;
                        font-weight: 200;
                        font-family: 'Montserrat';
                        vertical-align: top;
                    }
                }
            }
        }
      }
      // &::before {
      //   content: "";
      //   position: absolute;
      //   top: 50px;
      //   bottom: 50%;
      //   left: 0;
      //   right: 50%;
      //   background: rgba(0,0,0,.1);
      //   transform: rotate(0deg);
      //   border-radius: 0 0 16px 16px;
      //   transform: skewY(10deg);
      // }
      &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 60%;
        background: rgba(0,0,0,.1);
        transform: rotate(0deg);
        border-radius:  16px 0 0 16px;
        // transform: skewY(10deg);
      }
      // .image-bg {
      //   position: absolute;
      //   left: 0;
      //   right: 0;
      //   top: 0;
      //   bottom: 0;
      //   img {
      //     width: 100%;
      //     height: 100%;
      //     object-fit: cover;
      //   }
      // }
      // &::after {
      //   content: "";
      //   position: absolute;
      //   top: 0;
      //   bottom: 0;
      //   left: 0;
      //   right: 70%;
      //   background: rgba(0,0,0,.1);
      //   transform: rotate(10deg);
      //   // border-radius:  16px 0 0 16px;
      //   // transform: skewY(10deg);
      // }
      // &::after {
      //   content: "";
      //   position: absolute;
      //   bottom: 50px;
      //   top: 50%;
      //   left: 0;
      //   right: 50%;
      //   background: rgba(0,0,0,.1);
      //   transform: rotate(0deg);
      //   border-radius: 0 0 16px 16px;
      //   transform: skewY(-10deg);
      // }
      h3 {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 16px;
      }
      @media screen and (max-width:766px) {
        width: 100%;
        margin: 0;
      }
      .clear {
        clear: both;
      }
      .image {
        width: 45%;
        height: 380px;
        left: 0px;
        top: -42px;
        position: absolute;
        @media screen and (max-width:766px) {
          width: 50%;
          height: 380px;
          left: -14px;
          bottom: -50px;
          top: initial;
          // position: absolute;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      .data {
        // display: inline-block;
        vertical-align: middle;
        position: relative;
        z-index: 16;
        color: white;
        width: 50%;
        float: right;
        @media screen and (max-width:766px) {
          // vertical-align: middle;
          // color: #fff;
          width: 65%;
          // float: right;
        }
        .table {
          td {
            border-top: 1px solid transparent;
            color: white;
            @media screen and (max-width:766px) {
              font-size: 12px;
            }
          }
        }
      }
    }
  }

  
.bg{
  &-kiper {
    // background: #2a9976 !important;
    background: #2a5f99 !important;
  }
  &-pass {
    background: #3b885c !important;
  }
  &-shoot {
    background: #65345f !important;
  }
}

.color-text {
  color: #f4f4f4;
  // margin: 16px 0;
  font-size: 1.5rem;
  font-weight: 100;
  width: 860px;
  line-height: 2rem;
  text-align: left;
  margin: 16px auto;
  @media screen and (max-width:766px) {
    width: auto;
  }
}

.headline {
  background: #efbd2d;
  width: fit-content;
  color: white;
  margin: 16px auto;
  padding: 8px;
}

