$max: 766px;
// $blue: rgb(83, 157, 192);
$primary: #fafafa;
$orange: #f7941f;
@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700,900);
body {
  // background: linear-gradient(to bottom, #50a3a2 0%, #78cc6d 100%)!important;
}
section {
  // background: #ff854533;
  position: relative;
  padding: 32px 0;
  z-index: 60;
  
  h2 {
    text-align: left;
  }

}

@keyframes lab_round {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(359deg);
  }
}

.banner {
  height: 100vh;
  position: relative;
  padding: 0;
  @media screen and (min-width:1440px) {
    height: 80vh;
  }

  @media screen and (max-width:766px) {
    height: 80vh;
  }

  .sumbers {
    font-size: 12px;

    a {
      color: white;
    }
  }

  &__titlex {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px #ff6a14;
    @media screen and (max-width:766px) {
      transform: initial;
      left: initial;
      top: 13%;
    }
    // width: 80vw;
    h2 {
      color: #fff;
      font-weight: bold;
      text-align: center;
      font-size: 52px;
      text-shadow: 2px 2px #ff6a14;
      font-family: 'Quicksand' !important;
      @media screen and (max-width:766px) {
        
        font-size: 38px;
        line-height: 40px;
        text-align: right;
        margin-right: 24px;
      }
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

}
:root {
  --color-fur: #ffb141;
  --color-fur-dark: #F5832C;
  --color-spot: #F9584C;
  --color-snout: #544258;
  --color-collar: #3EAB6C;
  --duration: .7s;
  --semi-duration: calc(var(--duration) / 2);
  --easing: cubic-bezier(.5, 0, .5, 1);
  --stagger: calc(-1 * var(--semi-duration) / 2);
}
.paragraph {
  font-size: 18px;
  // color: white;
  // &__helping {
  //   position: absolute;
  //   top: -16px;
  //   left: -16px;
  //   width: 100%;
  //   height: 100%;
  //   bottom: 16px;
  //   right: 16px;
  //   z-index: 1;
  //   background: linear-gradient(to bottom, rgba(76, 193, 134,.5) 10%,transparent);
  // }

  
  
  // *, *:before, *:after {
  //   animation-timing-function: var(--easing) !important ;
  // }
  
  .haha {
    z-index: 1;
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    .neck {
      width: 50%;
      height: 100px;
      right: -5px;
      bottom: calc(100% - 10px);
      transform-origin: center bottom;
      transform: rotate(15deg);
      z-index: 2;
      
      > .fur {
        border-bottom-left-radius: 10px;
        height: 100%;
        width: 100%;
        
        &:before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          height: 50px;
          width: 100%;
          background-color: var(--color-fur-dark);
          z-index: 1;
          transform-origin: right bottom;
          transform: rotate(15deg);
        }
      }
    }
    
    .collar {
      width: calc(100% + 10px);
      height: 15%;
      background-color: var(--color-collar);
      left: -5px;
      bottom: 30px;
      border-radius: 5px;
      animation: collar var(--semi-duration) calc(var(--semi-duration) / 4) infinite;
      z-index: 2;
      
      @keyframes collar {
        from, to {
          transform: none;
        }
        50% {
          transform: translateY(-25%);
        }
      }
      
      &:after {
        content: '';
        width: 18%;
        height: 120%;
        border-radius: 50%;
        background: var(--color-snout);
        position: absolute;
        right: 0%;
        top: 110%;
        transform-origin: center top;
        animation: tag var(--semi-duration) infinite both;
        
        @keyframes tag {
          from, to {
            transform: rotate(-15deg);
          }
          50% {
            transform: rotate(-15deg) scaleY(1.5);
          }
        }
      }
    }
    
    .head {
      height: 80%;
      width: 145%;
      left: -2%;
      bottom: 50%;
      transform-origin: left center;
      z-index: 2;
      animation: head var(--semi-duration) calc(var(--semi-duration) / 4) infinite;
      
      @keyframes head {
        from, to {
          transform: rotate(-10deg);
        }
        50% {
          transform: rotate(-15deg);
        }
      }
      
      > .fur {
        height: 100%;
        width: 100%;
        border-bottom-right-radius: 80px;
        
        &:before {
          content: '';
          position: absolute;
          top: -80%;
          left: -30%;
          width: 100%;
          height: 0;
          padding-top: 100%;
          background-color: var(--color-spot);
          z-index: 1;
          border-radius: 50%;
        }
      }
    }
    
    .snout {
      --color: var(--color-snout);
      width: 25%;
      height: 0;
      padding-top: 25%;
      background-color: var(--color);
      top: 0;
      right: -5px;
      border-bottom-left-radius: 100%;
      z-index: 1;
    }
    
    .ears {
      bottom: 40%;
      height: 100%;
      width: 30%;
      left: 0;
      z-index: -1;
    }
    
    .ear {
      --color: var(--color-spot);
      width: 100%;
      height: 100%;
      bottom: 0;
      left: 0;
      transform-origin: left bottom;
      transform: rotate(-10deg);
      animation: ear-front calc(var(--duration) / 2) infinite;
      
      @keyframes ear-front {
        50% {
          transform: rotate(-15deg);
        }
      }
      
        &:before {
          content: '';
          position: absolute;
          height: 25px;
          width: 15px;
          z-index: 2;
          top: -2px;
          right: -7px;
          border-top-left-radius: 100%;
          border-width: 2px;
          border-color: transparent;
          border-style: solid;
          border-left: 2px solid var(--color-snout);
          transform-origin: bottom left;
          animation: ear-mark var(--semi-duration) calc(-1 * var(--semi-duration)) infinite;
          
          @keyframes ear-mark {
            from, to {
              transform: rotate(0deg);
            }
            50% {
              transform: rotate(25deg);
            }
          }
        }
      
      > .fur {
        border-top-left-radius: 100%;
        height: 100%;
        width: 100%;
      }
      
      &:nth-child(2) {
        left: 15px;
        bottom: 5px;
        transform: rotate(-5deg);
        --color: var(--color-fur);
        z-index: -1;
        animation: ear-back calc(var(--duration) / 2) infinite both;
        
        @keyframes ear-back {
          from, to {
            transform: rotate(0deg);
          }
          50% {
            transform: rotate(-10deg);
          }
        }
      }
    }
    
    .eye {
      --size: 6%;
      --color: var(--color-snout);
      width: var(--size);
      height: 0;
      padding: var(--size);
      left: 35%;
      top: 20%;
      border-radius: 50%;
      background-color: var(--color);
      z-index: 1;
      
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: var(--color);
        z-index: 1;
      }
      
      &:after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: -50%;
        top: -50%;
        border-top-left-radius: 100%;
        border-width: 2px;
        border-color: var(--color);
        border-style: solid;
        border-bottom-color: var(--color-spot);
        border-right-color: var(--color-spot);
        transform: scale(1.25);
        z-index: 0;
      }
    }
    
    .torso {
      width: percentage(170px / 300px);
      height: percentage(100px / 300px);
      animation: torso var(--semi-duration) both infinite;
      
      @keyframes torso {
        from, to {
          transform: none;
        }
        50% {
          transform: translateY(15%);
        }
      }
      
      > .fur {
        height: 100%;
        width: 185px;
        border-top-left-radius: 40px;
        transform-origin: left center;
        transform: rotate(-20deg) translateY(10px);
        z-index: 1;
        
        &:after {
          height: 100%;
          width: 100%;
          border-bottom-left-radius: 200px 85px;
          border-bottom-right-radius: 100px;
        }
      }
      
      > .legs {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      
      .spot {
        width: 120px;
        height: 120px;
        bottom: 40px;
        left: -20px;
        border-radius: 50%;
        background-color: var(--color-spot);
        z-index: 1;
        animation: spot var(--duration) calc(-1 * var(--semi-duration)) both infinite;
        
        @keyframes spot {
          from, 66%, to {
            transform: none;
          }
          33% {
            transform: translateX(10px);
          }
        }
        
        &:after {
          content: '';
          height: 20px;
          width: 20px;
          border-radius: 50%;
          background-color: inherit;
          position: absolute;
          bottom: -10px;
          right: 5px;
        }
      }
      
      > .tail {
        --color: var(--color-spot);
        bottom: calc(100% - 15px);
        left: 0;
        transform-origin: center bottom;
        transform: rotate(-45deg);
      }
    }
    
    .tail {
      height: 15px;
      width: 20px;
      background-color: var(--color);
      border-top-right-radius: 10px 100%;
      border-top-left-radius: 10px 100%;
      animation: tail var(--semi-duration) infinite;
      
      @keyframes tail {
        from, to {
          transform: rotate(-45deg) translateX(-15%);
        }
        50% {
          transform: rotate(-25deg) translateX(15%);
        }
      }
      
      > .tail {
        bottom: calc(90%);
        transform-origin: bottom left;
        transform: rotate(-10deg) translateY(50%) scaleX(.8) scaleY(.9);
        animation: tail-inner var(--semi-duration) var(--stagger) infinite;
        
        @keyframes tail-inner {
          from, to {
            transform: rotate(-10deg) translateY(50%) scaleX(.8) scaleY(.9);
          }
          50% {
            transform: rotate(5deg) translateY(50%) scaleX(.8) scaleY(.9)
          }
        }
      }
    }
    
    .legs {
      > .leg {
        bottom: 5px;
        --color: var(--color-fur);
      }
      
      > .leg:nth-child(1), .leg:nth-child(3) {
        // top: calc(100% - 65px);
        right: 15px;
      }
      
      > .leg:nth-child(3), > .leg:nth-child(4) {
        --color: var(--color-fur-dark);
        z-index: -1;
      }
      
      > .leg:nth-child(1), .leg:nth-child(4) {
        --delay: 0s;
      }
      
      > .leg:nth-child(2), > .leg:nth-child(3) {
        --delay: calc(-1 * var(--duration) / 2 )
      }
      
      > .leg:nth-child(2) {
        left: 0;
      }
      
      > .leg:nth-child(4) {
        left: 0;
      }
    
    }
    
    .leg {
      position: absolute;
      height: 65px;
      width: 45px;
      background-color: var(--color);
      transform-origin: center 5px;
      // transform: rotate(-10deg);
      // border-bottom-right-radius: 10px;
      animation: leg infinite var(--duration) var(--delay, 0s);
      
      > .leg-inner {
        animation: leg-inner infinite
          var(--duration)
          calc(var(--delay));
        transform: rotate(90deg);
        
        @keyframes leg-inner {
          from, to {
            transform: none;
          }
          33% {
            transform: rotate(70deg);
          }
          76% {
            transform: none;
          }
        }
      }
      
      @keyframes leg {
        from, to {
          transform: none;
        }
        33% {
          transform: rotate(-55deg);
        }
        66% {
          transform: rotate(-20deg);
        }
      }
    
      > .fur {
        width: percentage(65px / 45px);
        height: 100%;
    
        &:after {
          width: 45px;
          bottom: 0;
          top: initial;
          transform: rotate(15deg);
          // height: 100%;
        }
      }
    }
    
    .fur {
      position: absolute;
      overflow: hidden;
    
      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 150%;
        top: 0;
        left: 0;
        background-color: var(--color, var(--color-fur));
        transform-origin: center bottom;
      }
    }
    
    .leg-inner {
      position: absolute;
      height: 65%;
      width: 100%;
      // background-color: #FFB141;
      top: calc(100%);
      transform-origin: center top;
    
      &:before {
        // joint
        content: "";
        width: 45px;
        height: 45px;
        background-color: var(--color);
        // background-color: blue;
        position: absolute;
        border-radius: 50%;
        top: -22.5px;
      }
    
      > .fur {
        width: 100%;
        height: 100%;
    
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
    
        &:after {
          content: "";
          position: absolute;
          width: 100%;
          height: 150%;
          top: 0;
          left: 0;
          background-color: var(--color);
          transform-origin: center top;
          transform: rotate(15deg);
        }
      }
    }
    * {
      position: absolute;
      will-change: transform;
    }
    
    &:before {
      content: '';
      position: absolute;
      bottom: percentage(40px / 300px);
      left: 0;
      width: 100%;
      height: percentage(10px / 300px);
      background-color: #D3D1D1;
      border-radius: 2px;
      animation: shadow
        calc(1 * var(--semi-duration))
        infinite;
      
      @keyframes shadow {
        from, to {
          transform: scaleX(.75)
        }
        45%, 55% {
          transform: scaleX(.5)
        }
      }
    }
  }
  
 
  
    
}

.contentx {
  background: white;
  padding: 24px;
  position: relative;
  z-index: 5;
}

.slider-single h3 {
	line-height: 10rem;
}
.js .slider-single > div:nth-child(1n+2) { display: none }

.js .slider-single.slick-initialized > div:nth-child(1n+2) { display: block }

h3 {
	background: #f0f0f0;
	color: #3498db;
	font-size: 2.25rem;
	margin: .5rem;
	padding: 2%;
	position: relative;
	text-align: center;
}

.slider-single h3 {
	line-height: 10rem;
}

.slider-nav h3::before {
	content: "";
	display: block;
	padding-top: 75%;
}

.slider-nav h3 span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.slider-nav .slick-slide { cursor: pointer; }

.slick-slide.is-active h3 {
	color: #c00;
	background-color: #fff
}

.to-up {
  cursor: pointer;
  color: white;
}

.credit {
  border-top: 5px solid #fbcc56;
  // background: #c3c4c5;
  // background: #3a2c11;
  // background: #30250e;
  text-align: center;
  margin: 0 auto;
  display: block;

  .wrapings {
    display: block;
    width: 50%;
    margin: 0 auto 4px;

    @media screen and (max-width:766px) {
      width: 100%;
    }
  }

  // #c6c4c4
  .name,
  .jobdesc {
    color: #000;
    display: inline-block;
    vertical-align: top;

    @media screen and (max-width: 766px) {
      font-size: 14px;
    }
  }

  .name {
    text-align: left;
    width: 45%;
    font-size: 18px;
    vertical-align: middle;

    @media screen and (max-width:766px) {
      font-size: 16px;
    }
  }

  .jobdesc {
    text-align: right;
    width: 45%;
    font-size: 15px;
    margin-right: 16px;
    vertical-align: middle;

    @media screen and (max-width:766px) {
      font-size: 14px;
    }
  }
}

#nav {
  display: none !important;
}

#logo {
  display: none !important;
}

.gradient{
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  .bg-bubbles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    li {
      position: absolute;
      list-style: none;
      display: block;
      width: 80px;
      height: 80px;
      background-color: rgba(255,255,255,.1);
      bottom: -320px;
      animation: square 50s infinite;
      transition-timing-function: linear;
      border-radius: 4px;
      &:nth-child(1) {
        left: 10%;
      }
      &:nth-child(2) {
        left: 20%;
        width: 160px;
        height: 160px;
        animation-delay: 2s;
        animation-duration: 34s;
      }
      &:nth-child(3) {
        left: 25%;
        animation-delay: 4s;
      }
      &:nth-child(4) {
        left: 40%;
        width: 120px;
        height: 120px;
        animation-duration: 44s;
      }
      &:nth-child(5) {
        left: 70%;
      }
      &:nth-child(6) {
        left: 80%;
        width: 240px;
        height: 240px;
        animation-delay: 3s;
      }
      &:nth-child(7) {
        left: 32%;
        width: 320px;
        height: 320px;
        animation-delay: 7s;
      }
      &:nth-child(8) {
        left: 55%;
        width: 40px;
        height: 40px;
        -webkit-animation-delay: 15s;
        animation-delay: 15s;
        -webkit-animation-duration: 80s;
        animation-duration: 80s;
      }
      &:nth-child(9) {
        left: 25%;
        width: 20px;
        height: 20px;
        animation-delay: 2s;
        animation-duration: 80s;
      }
      &:nth-child(10) {
        left: 90%;
        width: 320px;
        height: 320px;
        animation-delay: 22s;
      }
    }
  }
}

@keyframes square {
  0% {
      -webkit-transform: translateY(0);
      transform: translateY(0)
  }

  100% {
      -webkit-transform: translateY(-1500px) rotate(600deg);
      transform: translateY(-1500px) rotate(600deg)
  }
}

.semua {
      ::-webkit-scrollbar {
        width: 7px;
      }
      
      /* Track */
      ::-webkit-scrollbar-track {
        // box-shadow: inset 0 0 5px grey; 
        border-radius: 10px;
      }
      
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: #7f7f7f; 
        border-radius: 3px;
      }
      
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: darkgray; 
      }
  .slider {
    margin-top: 32px;
  }
  h2 {
    // text-shadow: 2px 2px #50a3a2;;
  }
  .slider-single {
    @media screen and (max-width:766px) {
      margin-top: 42px;
    }
  }
  .flag-img {
    width: 100%;
    height: 80px;
    filter: grayscale(1);
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .pemimpin-content {
    height: 640px !important;
    @media screen and (max-width:766px) {
      height: auto !important;
    }
    &.slick-slide {
      margin: 0 !important;
    }
    // background: #fff;
    .wraping {
      display: block;
      height: 100%;
      padding: 4px 0;
      .foto {
        @media screen and (max-width:766px) {
          display: block;
          width: 100%;
          height: 75vh;
        }
        display: inline-block;
        width: 40%;
        border-radius: 4px;
        vertical-align: top;
        position: relative;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        // border: 1px solid red;
        background: #fff;
        z-index: 89;
        height: 100%;
        &__helping {
          position: absolute;
          top: -16px;
          left: -16px;
          width: 100%;
          height: 100%;
          bottom: 16px;
          right: 16px;
          z-index: 1;
          background: linear-gradient(to bottom, rgba(76, 193, 134,.5) 10%,transparent);
        }
        .helping {
          position: absolute;
          left: 0;
          right: 0;
          // bottom: 0;
          background: white;
          padding: 8px;
            ul {
              display: block;
              list-style-type: none;
              padding: 0;
              li {
                text-align: center;
                display: inline-block;
                color: #50a3a2;
                font-weight: 700;
                &:last-child {
                  &::after {
                    content: '';
                  }
                }
                &::after {
                  content: "\f111";
                  font-size: 6px;
                  margin: 0 4px;
                  font-family: 'fontAwesome';
                  vertical-align: middle;
                }
              }
            }
        }
        .image {
          width: 100%;
          height: 360px;
          
          position: relative;
          &::before {
            content: "";
            position: absolute;
            left: -2%;
            bottom: -15%;
            width: 101.5%;
            height: 20%;
            background: white;
            transform: rotate(4deg);
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 4px 4px 0 0;
          }
        }
      }
      .isi {
        p,div {
          font-size: 18px;
        }
        &__img {
          width: 75%;
          height: auto;
          margin: 0 auto 8px;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        @media screen and (max-width:766px) {
          display: block;
          width: 100%;
          position: relative;
          box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        }
        display: inline-block;
        width: 60%;
        border-radius: 0 5px 5px 0;
        position: absolute;
        background: white;
        top: 16px;
        overflow: auto;
        bottom: 16px;
        padding: 16px;
        
      }
    }
  }

  // .slick-slide {
  //   margin: 0 4px;
  // }

  .slick-slide.is-active.flag-img {
    filter: grayscale(0);
  }
}

.dog {
  position: absolute;
  top: -150px;
  left: 0%;
  width: 620px;
  opacity: .8;
  @media screen and (max-width:766px) {
    display: none;

  }
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.to-top-opt {
  color: white;
  cursor: pointer;
  transition: .3s;
  width: 150px;
  margin: 0 auto;
  display: block;
  &:hover {
    color: #ececec;
  }
}
.birds {
  position: absolute;
  top: 0;
  right: -143px;
  width: 200px;
  height: auto;
  opacity: .8;
  @media screen and (max-width:766px) {
    display: none;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.tiga {
  position: absolute;
  right: 25%;
  top: -30%;
  width: 480px;
  @media screen and (max-width:766px) {
    width: auto;
  }
}